<div class="top_content text-center align-content-center mb-100">
    <p class=" rdn_subtext" data-cue="slideInUp">{{ 'home.courses.surtitle' | trans | capitalize }}</p>
    <h2 class="rdn_title mb-0" data-cue="slideInUp" data-delay="200">{{ 'home.courses.title' | trans | raw }}</h2>
</div>
<ul class="event_filter">
    <li><a class="is_active" href="#!" data-filter="*">{{ 'home.courses.category.all' | trans | capitalize }}</a></li>
    {% for category in categories %}
        <li><a href="#!" data-filter=".category-{{ category.slug }}">{{ category.name | translation }}</a></li>
    {% endfor %}
</ul>
<div class="row event_box">
    {% for course in courses %}
        <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6{% for category in course.categories %} category-{{ category.slug }}{% endfor %}">
            <div class="events_item">
                <div class="event_top">
                    <div class="top_icon">
                        <a href="{{ path('courses_course', { slug: course.slug }) }}">
                            <i class="event_go_icon ph ph-eye"></i>
                            <img src="{{ asset('images/courses/' ~ course.slug ~ '-1.jpg') }}" alt="{{ course.title | translation }}">
                        </a>
                        <p class="event_location"><span>{{ course.meetingPoint | translation }}</span> <i class="ph-bold ph-map-pin-line"></i></p>
                    </div>
                </div>
                <div class="bottom_text">
                    {% if course.categories|length == 1 %}
                        <p>{{ course.categories[0].name | translation }}</p>
                    {% endif %}
                    <h3>{{ course.title | translation }}</h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
